[submodule ".config/fzf"]
	path = .config/fzf
	url = https://github.com/junegunn/fzf
	branch = master
[submodule ".config/liquidprompt"]
	path = .config/liquidprompt
	url = https://github.com/nojhan/liquidprompt
	branch = master
[submodule ".config/tldr"]
	path = .config/tldr
	url = https://github.com/raylee/tldr-sh-client
	branch = master
[submodule ".config/neovim-init.vim"]
	path = .config/neovim-init.vim
  url = git@github.com:Optixal/neovim-init.vim.git
  branch = master
[submodule ".config/scm_breeze"]
	path = .config/scm_breeze
	url = git@github.com:scmbreeze/scm_breeze.git
